.btn {
    display: inline-block;
    padding: 1.25em 4.875em;
    text-align: center;
    color: $clr-light-100;
    background-color: $clr-accent-darkest;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-buttons;
    transform: scale(1);
    transition-property: transform;
    transition-duration: $transition-duration-medium;
    transition-timing-function: $transition-timing-function;
    
    &:hover:not(:disabled), &:focus:not(:disabled) {
        transform: scale(1.02);
        outline: none;
    }

    &:active:not(:disabled) {
        transform: scale(0.98);
        transition: none;
    }

    &:disabled {
        color: $clr-dark-100;
        background-color: $clr-light-200;
        border-color: $clr-light-200;
        box-shadow: none;
        cursor: not-allowed;
    }
}

.form__group {
    label {
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }

    input[type="text"], input[type="password"], textarea {
        width: 100%;
        padding: 1.25em;
        color: $clr-dark-900;
        border: 0.1rem solid $clr-light-200;
        border-radius: $border-radius-small;

        &:invalid {
            box-shadow: none;
        }
    }

    textarea {
        resize: vertical;
    }

    input[type="file"] {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;

        & + label {
            width: 100%;
            padding: 1.25em;
            color: $clr-dark-900;
            border: 0.1rem solid $clr-light-200;
            border-radius: $border-radius-small;
            cursor: pointer;

            span {
                color: $clr-accent-darkest;
            }
        }
    }

    progress {
        width: 100%;
        height: 1rem;
        color: lighten($clr-accent-darkest, 10%);
        background-color: $clr-light-200;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0.1rem solid $clr-light-200;
        border-radius: $border-radius-small;

        &::-webkit-progress-bar {
            background-color: $clr-light-200;
            border-radius: $border-radius-small;
        }

        &::-moz-progress-bar {
            background: lighten($clr-accent-darkest, 10%);
            background: linear-gradient(
                to right,
                lighten($clr-accent-darkest, 10%),
                lighten($clr-accent-light, 10%)
            );
            border-radius: $border-radius-small;
        }

        &::-webkit-progress-value {
            background: lighten($clr-accent-darkest, 10%);
            background: linear-gradient(
                to right,
                lighten($clr-accent-darkest, 10%),
                lighten($clr-accent-light, 10%)
            );
            border-radius: $border-radius-small;
        }
    }
    
    .error {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        text-align: left;
        color: $clr-red;
    }

    & + & {
        margin-top: 3.5rem;
    }

    & + input[type="submit"] {
        margin-top: 4rem;
        display: block;
        width: 100%;
    }
}