.btn {
    display: inline-block;
    padding: 1.25em 4.875em;
    text-align: center;
    color: $clr-light-100;
    background-color: $clr-accent-darkest;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-buttons;
    transform: scale(1);
    transition-property: transform;
    transition-duration: $transition-duration-medium;
    transition-timing-function: $transition-timing-function;
    
    &:hover:not(:disabled), &:focus:not(:disabled) {
        transform: scale(1.02);
        outline: none;
    }

    &:active:not(:disabled) {
        transform: scale(0.98);
        transition: none;
    }

    &:disabled {
        color: $clr-dark-100;
        background-color: $clr-light-200;
        border-color: $clr-light-200;
        box-shadow: none;
        cursor: not-allowed;
    }
}

.form__group {
    label {
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 1.25em;
        color: $clr-dark-900;
        border: 0.1rem solid $clr-light-200;
        border-radius: $border-radius-small;
    }
    
    .error {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        text-align: left;
        color: $clr-red;
    }

    & + & {
        margin-top: 3.5rem;
    }

    & + input[type="submit"] {
        margin-top: 4rem;
        display: block;
        width: 100%;
    }
}