h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

h2, h3 {
    font-weight: 600;
}

h1, h2, h3, label {
    color: $clr-dark-900;
}

a {
    text-decoration: none;
    color: $clr-accent-darkest;
    
    &:focus {
        outline: 0.125em solid currentColor;
        outline-offset: 0.125em;
    }
}